#gopng_leftArrow_outer {
height: 16px;
width: 10px;
overflow: hidden;
}
#gopng_leftArrow {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_1_outer {
height: 12px;
width: 11px;
overflow: hidden;
}
#gopng_1 {
background: url(http://gopng/static/images/sprite.png) -10px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 10px;
_margin-left: -10px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_2_outer {
height: 12px;
width: 12px;
overflow: hidden;
}
#gopng_2 {
background: url(http://gopng/static/images/sprite.png) -21px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 21px;
_margin-left: -21px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_dir_outer {
height: 12px;
width: 12px;
overflow: hidden;
}
#gopng_dir {
background: url(http://gopng/static/images/sprite.png) -33px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 33px;
_margin-left: -33px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_litterLeftArrow_outer {
height: 11px;
width: 7px;
overflow: hidden;
}
#gopng_litterLeftArrow {
background: url(http://gopng/static/images/sprite.png) -45px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 45px;
_margin-left: -45px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_file_outer {
height: 11px;
width: 10px;
overflow: hidden;
}
#gopng_file {
background: url(http://gopng/static/images/sprite.png) -52px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 52px;
_margin-left: -52px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_star_outer {
height: 11px;
width: 12px;
overflow: hidden;
}
#gopng_star {
background: url(http://gopng/static/images/sprite.png) -62px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 62px;
_margin-left: -62px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_littleDown_outer {
height: 6px;
width: 10px;
overflow: hidden;
}
#gopng_littleDown {
background: url(http://gopng/static/images/sprite.png) -74px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 74px;
_margin-left: -74px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
